#kassir_managment_system.popup
  .container.schema_stage
    .block
      .header
        | Бронирование мест
      .content
        .event_block
          .title
            | Название
          .date
            | 18.10.2015 12:00
        .event_schema