.popup
  .container
    .block style="width: 350px; height: auto;"
      .header
        | Система управления кассами
      .content
        .label.continue
          | Добро пожаловать в систему управления кассами. Для входа в систему нажмите на кнопку Продолжить.
        = link_to "/sign_in", class: "continue_link"
          .btn.blue_btn
            | Продолжить