.popup
  .container
    .block style="width: 350px; height: auto;"
      .header
        | Система управления кассами
      - if !flash[:error].nil?
        .flash
          .icon
          = flash[:error]
      .content
        .label
          | Вход в систему
        = form_for(:system_user_auth, url: system_users_authorize_d.sign_in_path) do | f |
          .field.text_field
            = f.label :login, t("form.labels.login")
            = f.text_field :login
          .field.password_field
            = f.label :password, t("form.labels.password")
            = f.password_field :password

          = f.submit t('labels.buttons.enter'), class: "btn blue_btn"