#filarmonia
  .marking
    .scene
      .scene_img
        .bg
        | Сцена
    .schema
      - items = @hall.seat_items.group_by { |item| item.row }
      - items = items.sort_by { | key , value | key.to_i }
      .group
        .header
          .label
            = @hall.name
        ul.lines
          - items.each do |item|
            li
        ul.rows
          - items.each do |item|
            li.button
              = "Ряд #{item[0]}"
        ul.places
          - items.each do |item|
            li.row
              ul
                - item[1].each do |seat|

                  / - if (seat.row.to_i >= 19) && (seat.row.to_i <= 20)
                  /   - if (seat.number.to_i == 1)
                  /     - i = 0
                  /     - while (i < 8)
                  /       li.seat.non_active
                  /       - i = i + 1
                  - if (seat.row.to_i == 10) && (seat.number.to_i == 1)
                    - for i in 1..3
                      li.seat.non_active

                  - ticket = Ticket.find_by(:seat_item_id => seat.id, :event_item_id => @event_item.id)
                  = render "desktop/schemas/place", seat: seat, ticket: ticket