.sub_block

  .back_link
    = generate_sign_out_link(current_system_user, system_users_authorize_d.sign_out_path)

  .order_panel
    .label.kassir_header
      | Поиск забронированных билетов
    .search_field
      .form_bg
        = form_tag("/admin/ajax_get_reservation_payment_by_number", method: "post") do
          .field
            = text_field_tag "number", nil, placeholder: "Введите номер телефона или номер брони"
          = submit_tag "Найти", class: "btn blue_btn"
    .search_result
      .form_bg
        = form_tag("/admin/ajax_buy_ticket", method: "post") do
          #tickets data-payment-id=""
            .label

            table.table
              thead
                tr
                  th
                    a href="#"
                      | Отделение
                  th
                    a href="#"
                      | Ряд
                  th
                    a href="#"
                      | Место
                  th
                    a href="#"
                      | Скидка
                  th
                    a href="#"
                      | Цена
                  th
              tbody

          = submit_tag "Оплатить", class: "btn blue_btn", style: "display: none"


.sub_block
  .label
    | Мероприятия
  .events
    - EventItem.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).where("date >= now()").each do |event_item|
      .small_block
        = link_to "/schemas/#{event_item.id}"
          .date
            .day
              = event_item.date.strftime("%d")
            .another
              = Rails.application.config.months[event_item.date.strftime("%B")]
          .description
            = event_item.name