.block
  .small_block.blue.no_margin_bottom
    .value
      = BlankCounter.normal_counter.value
    .description
      | Количество доступных
      br
      | обычных бланков

  .small_block.no_margin_bottom
    .value
      = BlankCounter.get_blank_count(BlankType.normal_type, BlankDeliveryType.delivery_type)
    .description
      | Количество обычных
      br
      | бланков в доставке

  .small_block.no_margin_bottom
    .value
      = BlankCounter.get_blank_count(BlankType.normal_type, BlankDeliveryType.to_kassir_type)
    .description
      | Количество обычных
      br
      | бланков у кассиров

.block
  .small_block.blue.no_margin_bottom
    .value
      = BlankCounter.special_counter.value
    .description
      | Количество доступных
      br
      | фирменных бланков

  .small_block.no_margin_bottom
    .value
      = BlankCounter.get_blank_count(BlankType.special_type, BlankDeliveryType.delivery_type)
    .description
      | Количество фирменных
      br
      | бланков в доставке

  .small_block.no_margin_bottom
    .value
      = BlankCounter.get_blank_count(BlankType.special_type, BlankDeliveryType.to_kassir_type)
    .description
      | Количество фирменных
      br
      | бланков у кассиров

.block
  .sub_block
    .label
      | Добавить бланки
    = form_tag(refresh_blank_counters_path, method: "post") do

      .field
        label
          | Тип бланка
        = select_tag 'blank_type', options_for_select(BlankType.all.collect { |u| [u.name, u.id] })

      .field.text_field
        label
          | Количество *
        = text_field_tag "count"


      = submit_tag "Добавить", class: "btn blue_btn"