.small_block
  .value
    = NewsItem.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).where("published_at <= now()").count
  .description
    | Количество опубликованных новостей
  .btns
    = link_to "Создать новость", new_news_item_path, class: "btn blue_btn"
    = link_to "Посмотреть новости", news_items_path, class: "btn grey_btn"

.small_block
  .value
    = PromoItem.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).where("(published_at <= now()) OR (ending_at <= now())").count
  .description
    | Количество действующих опубликованных акций
  .btns
    = link_to "Создать акцию", new_promo_item_path, class: "btn blue_btn"
    = link_to "Посмотреть акции", promo_items_path, class: "btn grey_btn"

.small_block
  .value
    = SalePointItem.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).count
  .description
    | Количество действующих точек продаж
  .btns
    = link_to "Создать точку продажи", new_sale_point_item_path, class: "btn blue_btn"
    = link_to "Посмотреть точки продажи", sale_point_items_path, class: "btn grey_btn"

.small_block
  .value
    = Banner.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).count
  .description
    | Количество действующих баннеров
  .btns
    = link_to "Создать баннер", new_banner_path, class: "btn blue_btn"
    = link_to "Посмотреть баннеры", banners_path, class: "btn grey_btn"

.small_block
  .value
    = PartnerItem.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).count
  .description
    | Количество действующих партнеров
  .btns
    = link_to "Создать партнера", new_partner_item_path, class: "btn blue_btn"
    = link_to "Посмотреть партнеров", partner_items_path, class: "btn grey_btn"

.small_block
  .value
    = StaticPage.where(:system_state_id => SystemMainItemsD::SystemState.active_state.id).count
  .description
    | Количество действующих статических страниц
  .btns
    = link_to "Создать стат. страницу", new_static_page_path, class: "btn blue_btn"
    = link_to "Посмотреть стат. страницы", static_pages_path, class: "btn grey_btn"