- unless @event_item.nil?
  #master
    #master_schema.section
      .sub_block.master_description
        .content
          .sub_block_event
            .label
              = @event_item.name
            .date
              = @event_item.date.strftime("%d.%m.%Y %H:%M")
          .additional
              .small_text
                = @event_item.description
        = form_tag '#', :class => "buttons", :id => 'tickets_booking'
          .field
            .label
              | Имя:
            = text_field_tag "name"
          .field
            .label
              | E-mail:
            = text_field_tag "email", nil, :placeholder => 'example@domain.com'
          .btn.blue_btn#bro_next
            | Забронировать
      .sub_block
        .event_schema.master_schema
          .hall_schema data-event-id="#{@event_item.id}"
            - if (@event_item.hall.alias == "main_hall")
              = render "desktop/schemas/main_hall/main_hall"
            - if (@event_item.hall.alias == "main_hall_with_seats")
              = render "desktop/schemas/main_hall_with_seats/main_hall_with_seats"
            - if (@event_item.hall.alias == "theatr_hall")
              = render "desktop/schemas/theatr_hall/theatr_hall"
            .legend.custom_legend
              .label
                | Легенда
              .form_bg
                .element
                  .block style="background-color: #878775 !important;"
                  .text
                    | Недоступно
                - seat_types = []
                - SeatItem.where(:schema_item_id => @event_item.hall.schema_item.id).select(:seat_item_type_id).group(:seat_item_type_id).each do |seat|
                  - type = SeatItemType.find(seat.seat_item_type_id)
                  - seat_types.push([type.price, type.color])
                - seat_types = seat_types.sort_by { |e| e[0] }
                - seat_types.each do |type|
                  .element
                    .block style="background-color: #{type[1]}"
                    .text
                      = "от #{type[0]} руб."
          .triumph style="display: none;"
            .text
              /| Вы успешно забронировали места на мероприятие. Билеты необходимо выкупить в течение 5 (пяти) дней. После этого срока бронь аннулируется Выкупить билеты можно по номеру телефона или по номеру брони
            .caption
              span.label
                /| Ваш номер брони:
              span.value#number_v
            .caption
              span.label
                /| Бронь зарегистрирована на номер:
              span.value#phone_v

    #data.section
      .sub_block
        .master_description
- unless @error.nil?
  = @error