#filarmonia
  .marking
    .scene
      .scene_img
        .bg
        | Сцена
    .schema
      - items = @parter.seat_items.group_by { |item| item.row }
      .group
        .header
          .label
            = @parter.name
        ul.lines
          - items.each do |item|
            li
        ul.rows
          - items.each do |item|
            li.button
              = "Ряд #{item[0]}"
        ul.places
          - items.each do |item|
            li.row
              ul
                - item[1].each do |seat|
                  - ticket = Ticket.find_by(:seat_item_id => seat.id, :event_item_id => @event_item.id)
                  = render "desktop/schemas/place", seat: seat, ticket: ticket
                  - if (seat.row == "7") && (seat.number == "9")
                    - i = 0
                    - while (i < 5)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "20") && (seat.number == "2")
                    - i = 0
                    - while (i < 3)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "20") && (seat.number == "22")
                    - i = 0
                    - while (i < 3)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "21") && (seat.number == "2")
                    - i = 0
                    - while (i < 3)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "21") && (seat.number == "22")
                    - i = 0
                    - while (i < 3)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "22") && (seat.number == "3")
                    - i = 0
                    - while (i < 3)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "22") && (seat.number == "21")
                    - i = 0
                    - while (i < 3)
                      li.seat.non_active
                      - i = i + 1

      - items = @balkon.seat_items.group_by { |item| item.row }
      .group
        .header
          .label
            = @balkon.name
        ul.lines
          - items.each do |item|
            li
        ul.rows
          - items.each do |item|
            li.button
              = "Ряд #{item[0]}"
        ul.places
          - items.each do |item|
            li.row
              ul
                - item[1].each do |seat|
                  - ticket = Ticket.find_by(:seat_item_id => seat.id, :event_item_id => @event_item.id)
                  = render "desktop/schemas/place", seat: seat, ticket: ticket
                  - if (seat.row == "1") && (seat.number == "12")
                    - i = 0
                    - while (i < 4)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "2") && (seat.number == "12")
                    - i = 0
                    - while (i < 4)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "3") && (seat.number == "12")
                    - i = 0
                    - while (i < 2)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "4") && (seat.number == "12")
                    - i = 0
                    - while (i < 2)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "5") && (seat.number == "2")
                    - i = 0
                    - while (i < 24)
                      li.seat.non_active
                      - i = i + 1
                  - if (seat.row == "6") && (seat.number == "2")
                    - i = 0
                    - while (i < 24)
                      li.seat.non_active
                      - i = i + 1