.discount_state {
  border: 1px solid red !important;
  box-sizing: border-box;
}

.buy_state {
}

.book_state {
  background-color: white !important;
  border: 1px solid grey !important;
  box-sizing: border-box;
}

.aksion_pult_panel {
  width: 116px;
  height: 50px;
  background: white;
  z-index: 10;
  position: absolute;
  border-bottom: 1px solid #e9e9e9;
  -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
  -moz-box-shadow: 0 0 1px 0 #e1e1e1;
  box-shadow: 0 0 1px 0 #e1e1e1;
  color: #555555;
  line-height: 50px;
}

.sub_block {
  .header {
    .label {
      font-size: 10px !important;
      padding: 0 0 5px 0;
      margin: 0 0 5px 0;
    }
  }
  @extend %clearfix;
}

.aksion_vip_1 {
  width: 120px;
  position: absolute;
  left: 135px;
  top: 60px;
}

.aksion_vip_2 {
  width: 120px;
  position: absolute;
  right: 80px;
  top: 60px;
}

.hall_schema {
  width: 100%;
  height: auto;
  .marking {
    width: 87%;
    float: left;
    .scene {
      width: 100%;
      .scene_img {
        padding: 5px;
        background-color: #c0c0c0;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        color: white;
        border-bottom: 1px solid #e9e9e9;
        -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
        -moz-box-shadow: 0 0 1px 0 #e1e1e1;
        box-shadow: 0 0 1px 0 #e1e1e1;
      }
      @extend %clearfix;
    }

    .schema {
      width: 100%;
      position: relative;
      @extend %clearfix;
      .group {
        width: 100%;
        margin: 15px 0 15px 0;
        position: relative;
        background-color: initial;
        .header {
          padding: 5px;
          border-bottom: 1px solid #e9e9e9;
          font-size: 11px;
          text-align: center;
          font-weight: bold;
          text-transform: uppercase;
        }
        .lines {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          display: block;
          margin: 0;
          padding: 0;
          list-style: none;
          margin-top: 31px;
          z-index: -1;
          li {
            display: block;
            width: 100%;
            height: 12px;
            border-bottom: 1px solid red;
            margin-bottom: 17px;
          }
          @extend %clearfix;
        }
        .rows {
          width: 5%;
          float: left;
          padding: 0;
          margin: 0;
          list-style: none;
          height: 15px;
          li {
            margin: 5px 0 5px 0;
            display: block;
            height: 100%;
            &.button {
              width: 70px;
              font-size: 12px;
              padding: 5px;
              text-align: center;
              line-height: 14px;
              height: 14px;
              color: white;
              background-color: grey;
              border-bottom: 1px solid #e9e9e9;
              -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
              -moz-box-shadow: 0 0 1px 0 #e1e1e1;
              box-shadow: 0 0 1px 0 #e1e1e1;
            }
          }
          @extend %clearfix;
        }
        .places {
          width: 93%;
          float: left;
          padding: 0;
          margin: 0;
          list-style: none;
          li.row {
            width: 100%;
            margin: 5px 0 5px 0;
            ul {
              text-align: center;
              display: block;
              width: 100%;
              padding: 0;
              margin: 0;
              list-style: none;
              li.seat {
                display: inline-block;
                font-size: 12px;
                height: 20px;
                width: 20px;
                margin: 2px 2px 2px 2px;
                cursor: hand;
                position: relative;
                vertical-align: top;
                line-height: 20px;
                color: white;
                border-bottom: 1px solid #e9e9e9;
                -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
                -moz-box-shadow: 0 0 1px 0 #e1e1e1;
                box-shadow: 0 0 1px 0 #e1e1e1;
                .info_block {
                  position: absolute;
                  font-size: 12px;
                  background: white;
                  top: -114px;
                  left: -12px;
                  width: 255px;
                  padding: 10px;
                  text-align: left;
                  line-height: 14px;
                  border-bottom: 1px solid #e9e9e9;
                  -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
                  -moz-box-shadow: 0 0 1px 0 #e1e1e1;
                  box-shadow: 0 0 1px 0 #e1e1e1;
                  color: grey;
                  z-index: 100;
                  .value {
                    font-weight: bold;
                  }
                  .close {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    right: 2px;
                    top: 2px;
                    cursor: hand;
                  }
                  .arrow {
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    bottom: -10px;
                    left: 12px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid white;
                    border-bottom: 1px solid #e9e9e9;
                  }
                }
                &.weight_1 {
                  width: 20px;
                }
                &.weight_2 {
                  width: 44px;
                }
                &.weight_3 {
                  width: 68px;
                }
                &.active {
                  background: red !important;
                }
                &.non_active {
                  background: white !important;
                }
              }
              li.seat[data-state='disabled'] {
                //background: $bg_color_12 !important;
              }
              li.seat[data-state='booked'] {
                background: white !important;
                color: grey !important;
              }
              li.seat[data-state='bought'] {
                background: $bg_color_12 !important;
              }
            }
          }
        }
        @extend %clearfix;
      }
    }
  }
  .legend {
    width: 13%;
    float: left;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    .form_bg {
      padding: 5px 10px 5px 10px;
      .element {
        width: 100%;
        .block {
          width: 15px;
          height: 15px;
          float: left;
          background: red;
          @include border_radius(2px, 2px, 2px, 2px);
          margin-right: 12px;
        }
        .text {
          margin: 10px 0 5px 0;
          font-size: 11px;
          line-height: 11px;
        }
      }
    }
  }
  @extend %clearfix;
}

.master_schema {
  position: relative;
}
.custom_legend {
  width: 13%;
  float: left;
  padding: 0 !important;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  .label {
    color: white;
    font-size: 8px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 4px;
  }
  .form_bg {
    // padding: 14px 5px 12px 5px !important;
    padding: 0px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-left: 1px solid #c0c0c0;
    margin: 57px 0 0 0;
  }
  .block {
    // background-color: #878775 !important;
    margin: 3px 5px 0 5px !important;
    width: 15px !important;
    height: 15px !important;
  }
  .text {
    font-size: 10px !important;
  }

  .legend {
    padding: 5px;
    background-color: #c0c0c0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-bottom: 1px solid #e9e9e9;
    -webkit-box-shadow: 0 0 1px 0 #e1e1e1;
    -moz-box-shadow: 0 0 1px 0 #e1e1e1;
    box-shadow: 0 0 1px 0 #e1e1e1;
    font-size: 8px;
  }
}


#master_schema {
  width: 740px;
  margin: 0 auto;
  .hall_schema .marking .schema .group .places li.row ul li.seat .info_block {
    width: 125px;
  }
  .book_state {
    background-color: rgb(135, 135, 117) !important;
    color: white !important;
  }
  .marking {
    width: 100% !important;
  }
  .lines {
    display: none;
  }
  .rows {
    li {
      margin: 6px 0 5px 0;
      height: 8px;
      width: 50px;
      font-size: 8px;
      line-height: 10px;
    }
  }
  .places {
    li {
      .seat {
        width: 15px;
        height: 15px;
        font-size: 8px;
        line-height: 15px;
      }
    }
  }
}

.sub_block .header .label {
  font-size: 10px !important;
}

.hall_schema .marking .scene .scene_img {
  font-size: 8px !important;
}

.master_description {
  padding: 20px 60px 20px 20px;
  box-sizing: border-box;
  font-size: 12px;
  .content {
    float: left;
    width: 70%;
    .image {
      width: 100px;
      height: auto;
    }
    .text {
      padding: 0 0 0 15px;
      box-sizing: border-box;
      width: 300px;
    }
    .small_text {
      width: 300px;
    }
  }
  .buttons {
    float: left;
    width: 30%;
    input {
      width: 100%;
    }
    .btn {
      margin-top: 10px;
    }
  }
}

.sub_block_event {
  margin-bottom: 10px;
  .label {
    font-size: 14px !important;
    font-weight: bold;
  }
  .date {

  }
}

.triumph {
  .text {
    text-align: center;
    font-size: 12px;
    margin: 10px 0 10px 0;
  }
  .caption {
    margin: 5px 0 5px 0;
    text-align: center;
    .label {
      font-size: 12px;
    }
    .value {
      font-size: 14px;
      font-weight: bold;
      margin-left: 10px;
    }
  }
}