.sub_block
  .add_blank_request
    .label
      | Заявки на принятия бланков
    = form_tag(accept_blank_request_path, method: "post") do

      .field
        label
          | Заявки
        = select_tag 'blank_request_id', options_for_select(@blank_requests.collect { |u| ["Заявка №#{u.id}. Получатель: #{SystemMainItemsD::SystemUser.find(u.system_user_id).first_name} #{SystemMainItemsD::SystemUser.find(u.system_user_id).first_name}. Количество бланков: #{u.value}. Тип бланков: #{u.blank_type.name}", u.id] })

      = submit_tag "Принять", class: "btn blue_btn"
      = link_to "Назад", main_page_path, class: "back_link_2 btn grey_btn"