.sub_block
  .label
    = "#{@event_item.name} - #{@event_item.date.strftime("%d")} #{Rails.application.config.months[@event_item.date.strftime("%B")]} #{@event_item.date.strftime("%H:%M")} - #{@event_item.hall.name}"
    .back_link
      = link_to "Вернуться к мероприятиям", main_page_path
  .event_schema.usual_schema
    .hall_schema data-event-id="#{@event_item.id}"

      - if (@event_item.hall.alias == "main_hall")
        = render "desktop/schemas/main_hall/main_hall"
      - if (@event_item.hall.alias == "main_hall_with_seats")
        = render "desktop/schemas/main_hall_with_seats/main_hall_with_seats"
      - if (@event_item.hall.alias == "theatr_hall")
        = render "desktop/schemas/theatr_hall/theatr_hall"

      .legend

        .form_bg.small_form
          .label
            | Очистить отметки
          .btn.grey_btn#clear_checked_tickets
            | Очистить

        .form_bg.order_info
          .label
            | Заказ
          .main_info
            .count
              .title
                | Кол-во билетов:
              .value
                | 0

            .total
              .title
                | Итого:
              .value
                | 0

        .form_bg.small_form#buy_ticket
          .btn.blue_btn
            | Продать

        .form_bg.small_form#book_ticket
          .btn.blue_btn
            | Забронировать

        .form_bg
          .bg
          .element
            .block style="background-color: #878775 !important;"
            .text
              | Куплено
          .element
            .block style="background-color: white !important; border: 1px solid grey !important; color: grey !important;"
            .text
              | Забронировано
          .element
            .block style="background-color: green !important; border: 1px solid red !important; color: grey !important;"
            .text
              | Место со скидкой
          - seat_types = []
          - SeatItem.where(:schema_item_id => @event_item.hall.schema_item.id).select(:seat_item_type_id).group(:seat_item_type_id).each do |seat|
            - type = SeatItemType.find(seat.seat_item_type_id)
            - seat_types.push([type.price, type.color])
          - seat_types = seat_types.sort_by { |e| e[0] }
          - seat_types.each do |type|
            .element
              .block style="background-color: #{type[1]}"
              .text
                = "от #{type[0]} руб."

= render "admin/advanced_schemas/book_popup"