.sub_block
  .label
    = "#{@event_item.name} - #{@event_item.date.strftime("%d")} #{Rails.application.config.months[@event_item.date.strftime("%B")]} #{@event_item.date.strftime("%H:%M")} - #{@event_item.hall.name}"
  .event_schema.usual_schema
    .hall_schema data-event-id="#{@event_item.id}"

      - if (@event_item.hall.alias == "main_hall")
        = render "desktop/schemas/main_hall/main_hall"

      .legend

        .form_bg
          .bg
          - seat_types = []
          - SeatItem.where(:schema_item_id => @event_item.hall.schema_item.id).select(:seat_item_type_id).group(:seat_item_type_id).each do |seat|
            - type = SeatItemType.find(seat.seat_item_type_id)
            - seat_types.push([type.price, type.color])
          - seat_types = seat_types.sort_by { |e| e[0] }
          - seat_types.each do |type|
            .element
              .block style="background-color: #{type[1]}"
              .text
                = "от #{type[0]} руб."
          .element
            .block style="background-color: #878775 !important;"
            .text
              | Недоступно