#filarmonia
  .marking
    .scene
      .scene_img
        .bg
        | Сцена
    .schema
      - items = @hall.seat_items.group_by { |item| item.row }
      .group
        .header
          .label
            = @hall.name
        ul.lines
          - items.each do |item|
            li
        ul.rows
          - items.each do |item|
            li.button
              = "Ряд #{item[0]}"
        ul.places
          - items.each do |item|
            li.row
              ul
                - item[1].each do |seat|

                  - if (seat.row.to_i >= 19) && (seat.row.to_i <= 20)
                    - if (seat.number.to_i == 1)
                      - i = 0
                      - while (i < 8)
                        li.seat.non_active
                        - i = i + 1

                  - ticket = Ticket.find_by(:seat_item_id => seat.id, :event_item_id => @event_item.id)
                  - if (seat.row.to_i == 8)
                    - if (seat.number.to_i > 6) && (seat.number.to_i < 17)
                    - else
                      = render "desktop/schemas/place", seat: seat, ticket: ticket
                  - else
                      = render "desktop/schemas/place", seat: seat, ticket: ticket

                  - if ((seat.row.to_i >= 1) && (seat.row.to_i <= 6)) || ((seat.row.to_i >= 8) && (seat.row.to_i <= 15)) || (seat.row.to_i == 18)
                    - if (seat.number.to_i == 6) || (seat.number.to_i == 16)
                      - i = 0
                      - while (i < 2)
                        li.seat.non_active
                        - i = i + 1

                  - if (seat.row.to_i == 8)
                    - if (seat.number.to_i == 6)
                      - i = 0
                      - while (i < 10)
                        li.seat.non_active
                        - i = i + 1

                  - if (seat.row.to_i == 17)
                    - if (seat.number.to_i == 6)
                      - i = 0
                      - while (i < 2)
                        li.seat.non_active
                        - i = i + 1
                    - if (seat.number.to_i == 16)
                      - i = 0
                      - while (i < 8)
                        li.seat.non_active
                        - i = i + 1

                  - if ((seat.row.to_i == 7) || (seat.row.to_i == 16)) && (seat.number.to_i == 6)
                    - i = 0
                    - while (i < 20)
                      li.seat.non_active
                      - i = i + 1

                  - if (seat.row.to_i >= 19) && (seat.row.to_i <= 20)
                    - if (seat.number.to_i == 7)
                      - i = 0
                      - while (i < 11)
                        li.seat.non_active
                        - i = i + 1

      - items = @balkon.seat_items.group_by { |item| item.row }
      .group
        .header
          .label
            = @balkon.name
        ul.lines
          - items.each do |item|
            li
        ul.rows
          - items.each do |item|
            li.button
              = "Ряд #{item[0]}"
        ul.places
          - items.each do |item|
            li.row
              ul
                - item[1].each do |seat|
                  - ticket = Ticket.find_by(:seat_item_id => seat.id, :event_item_id => @event_item.id)
                  = render "desktop/schemas/place", seat: seat, ticket: ticket

                  - if ((seat.row.to_i >= 1) && (seat.row.to_i <= 7))
                    - if (seat.number.to_i == 3) || (seat.number.to_i == 17)
                      - i = 0
                      - while (i < 1)
                        li.seat.non_active
                        - i = i + 1
