= render_filter_text_field(:number, :text)
= render_filter_collection_field(:event_item_id, @fields[:event_item_id])
= render_filter_collection_field(:system_user_id, @fields[:system_user_id])
= render_filter_datetime_field(:updated_at, @fields[:updated_at][:label])
= render_filter_text_field(:phone, :text)
= render_filter_text_field(:email, :text)