= form_for @item do |f|

  = render_form(f, @fields).html_safe

  = hidden_field_tag "current_event_item_id", @item.event_item_id

  #tickets_p
    table.table
      thead
        tr
          th
            a href="#"
              | Отделение
          th
            a href="#"
              | Ряд
          th
            a href="#"
              | Место
          th
            a href="#"
              | Скидка
          th
            a href="#"
              | Цена
          th
      tbody
        - tickets = @item.tickets
        - total = 0
        - tickets.each do |ticket|
          - ticket_price = ticket.price
          - ticket_discount = "-"
          - if !ticket.ticket_discount.nil?
            - if @item.updated_at <= ticket.ticket_discount.date
              - ticket_price = TicketDiscount.get_price_by_discount_without_date_link(ticket)
              - ticket_discount = ticket.ticket_discount.name
            - else
              - ticket_price = ticket.price

          - total = total + ticket_price
          - seat_item = ticket.seat_item
          tr.ticket
            td
              input.ticket_id type="hidden" name="payment[ticket_id][#{ticket.id}]" value="#{ticket.id}"
              = seat_item.sector_group.name
            td
              = seat_item.row
            td
              - if seat_item.special.nil?
                = seat_item.number
              - else
                = seat_item.special
            td
              = ticket_discount
            td
              = ticket_price
            td.btns
              .btn.red_btn.remove_ticket
                | Удалить
        - if (tickets.count != 0)
          tr.ticket
            td colspan="4"
              | Итого
            td
              = total
            td




  = f.submit t('labels.buttons.save'), class: "btn blue_btn"