#filarmonia
  .marking
    .scene
      .scene_img
        .bg
        | Сцена
    .schema
      - items = @hall.seat_items.group_by { |item| item.row }
      .group
        .header
          .label
            = @hall.name
        ul.lines
          - items.each do |item|
            li
        ul.rows
          - items.each do |item|
            li.button
              = "Ряд #{item[0]}"
        ul.places
          - items.each do |item|
            li.row
              ul
                - item[1].each do |seat|

                  - if (seat.row.to_i >= 19) && (seat.row.to_i <= 20)
                    - if (seat.number.to_i == 1)
                      - i = 0
                      - while (i < 8)
                        li.seat.non_active
                        - i = i + 1

                  - ticket = Ticket.find_by(:seat_item_id => seat.id, :event_item_id => @event_item.id)
                  - if (seat.number.to_i < 23)
                    - if ((seat.number.to_i == 7) && ((seat.row.to_i >= 9) && (seat.row.to_i <= 15))) || ((seat.number.to_i == 7) && (seat.row.to_i < 7))
                      - another_seat = SeatItem.find_by(:schema_item_id => seat.schema_item_id, :row => seat.row, :special => "7А")
                      - another_ticket = Ticket.find_by(:seat_item_id => another_seat.id, :event_item_id => @event_item.id)
                      = render "desktop/schemas/place", seat: another_seat, ticket: another_ticket
                      = render "desktop/schemas/place", seat: seat, ticket: ticket
                    - else
                      - if ((seat.number.to_i == 16) && (seat.row.to_i < 7)) || ((seat.number.to_i == 16) && ((seat.row.to_i >= 9) && (seat.row.to_i <= 15)))
                        = render "desktop/schemas/place", seat: seat, ticket: ticket
                        - another_seat = SeatItem.find_by(:schema_item_id => seat.schema_item_id, :row => seat.row, :special => "16А")
                        - ticket = Ticket.find_by(:seat_item_id => another_seat.id, :event_item_id => @event_item.id)
                        = render "desktop/schemas/place", seat: another_seat, ticket: ticket
                      - else
                        - if ((seat.row.to_i == 19) || (seat.row.to_i == 20))
                          - if (seat.number.to_i < 8)
                            - if (seat.number.to_i == 1)
                              - another_seat = SeatItem.find_by(:schema_item_id => seat.schema_item_id, :row => seat.row, :special => "1А")
                              - aticket = Ticket.find_by(:seat_item_id => another_seat.id, :event_item_id => @event_item.id)
                              = render "desktop/schemas/place", seat: another_seat, ticket: aticket
                              - another_seat = SeatItem.find_by(:schema_item_id => seat.schema_item_id, :row => seat.row, :special => "1Б")
                              - aticket = Ticket.find_by(:seat_item_id => another_seat.id, :event_item_id => @event_item.id)
                              = render "desktop/schemas/place", seat: another_seat, ticket: aticket
                              = render "desktop/schemas/place", seat: seat, ticket: ticket
                            - else
                              = render "desktop/schemas/place", seat: seat, ticket: ticket
                        - else
                          = render "desktop/schemas/place", seat: seat, ticket: ticket

                  - if ((seat.row.to_i >= 1) && (seat.row.to_i <= 6)) || ((seat.row.to_i > 8) && (seat.row.to_i <= 15))
                    - if (seat.number.to_i == 6) || (seat.number.to_i == 16)
                      - i = 0
                      - while (i < 1)
                        li.seat.non_active
                        - i = i + 1

                  - if (seat.row.to_i == 18)
                    - if (seat.number.to_i == 6) || (seat.number.to_i == 16)
                      - i = 0
                      - while (i < 2)
                        li.seat.non_active
                        - i = i + 1

                  - if (seat.row.to_i == 8)
                    - if (seat.number.to_i == 6)
                      - i = 0
                      - while (i < 14)
                        li.seat.non_active
                        - i = i + 1

                  - if (seat.row.to_i == 17)
                    - if (seat.number.to_i == 6)
                      - i = 0
                      - while (i < 2)
                        li.seat.non_active
                        - i = i + 1
                    - if (seat.number.to_i == 16)
                      - i = 0
                      - while (i < 8)
                        li.seat.non_active
                        - i = i + 1

                  - if ((seat.row.to_i == 7)) && (seat.number.to_i == 6)
                    - i = 0
                    - while (i < 20)
                      li.seat.non_active
                      - i = i + 1

                  - if (seat.row.to_i >= 19) && (seat.row.to_i <= 20)
                    - if (seat.number.to_i == 7)
                      - i = 0
                      - while (i < 11)
                        li.seat.non_active
                        - i = i + 1

                  - if (seat.row.to_i == 16)
                    - if (seat.number.to_i == 6)
                      - for i in 0..1
                          li.seat.non_active
                    - if (seat.number.to_i == 16)
                      - for i in 0..7
                          li.seat.non_active

      - items = @balkon.seat_items.group_by { |item| item.row }
      .group
        .header
          .label
            = @balkon.name
        ul.lines
          - items.each do |item|
            li
        ul.rows
          - items.each do |item|
            li.button
              = "Ряд #{item[0]}"
        ul.places
          - items.each do |item|
            li.row
              ul
                - item[1].each do |seat|
                  - ticket = Ticket.find_by(:seat_item_id => seat.id, :event_item_id => @event_item.id)
                  = render "desktop/schemas/place", seat: seat, ticket: ticket

                  - if ((seat.row.to_i >= 1) && (seat.row.to_i <= 7))
                    - if (seat.number.to_i == 3) || (seat.number.to_i == 17)
                      - i = 0
                      - while (i < 1)
                        li.seat.non_active
                        - i = i + 1
