.sub_block
  .label
    = t("custom.modules.event_items.edit_record")

    - if current_system_user.system_user_role.alias == "administrator" || current_system_user.system_user_role.alias == "root"
      = link_to "Схема зала", "/advanced_schemas/#{@item.id}", class: "btn blue_btn"

    - if current_system_user.system_user_role.alias == "administrator" || current_system_user.system_user_role.alias == "root"
      = link_to "Скопировать код кнопки", "#", :class => "btn grey_btn", :id => "clipboard_button", :data => { "clipboard-text" => generate_order_button_code( @item.id ) }

    - if @item.hall.alias == "main_hall"
      = link_to "Расширить схему", "/event_items/extend/#{@item.id}", class: "btn grey_btn"

  = render 'form'
