b
	= "Бронирование билетов с сайта okc-russia.ru : "
br
= "Имя - #{@payment.fio}"
br
= "Email - #{@payment.email}"
br
= "Номер брони - #{@payment.number.to_s}"
br
= "Название мероприятия - #{@payment.event_item.name.to_s}"
br
= "Дата проведения - #{@payment.event_item.date.strftime('%d.%m.%Y')}"
br
| Билеты необходимо выкупить в течение 5 (пяти) дней. После этого срока бронь аннулируется