.sub_block
	.label
    	= t("labels.menu.sales_report")
	= render_filter(@path, nil)

	- unless @data.nil?
			- @data.each do | event_name , data_by_parts |
				table.table.report_table
					thead
						tr
							th[colspan=3]
								a
									= event_name
								span.arrow_toggler.packed
					tbody
						tr.dark_row
							td
								= t("labels.strings.price_for_item")
							td
								= t("labels.strings.the_number_of_tickets_sold")
							td
								= t("labels.strings.result_in_rub")
						- data_by_parts[:data].each do | ticket_state_alias , data_by_prices |
							tr.dark_row.delimiter
								td[colspan=3]
									= t("custom.modules.ticket_states.#{ticket_state_alias}_state")
							- data_by_prices.each do | price , data |
								tr
									td
										= t("labels.currency.rub", :price => price)
									td
										= data[:count]
									td
										= data[:sold_at]
							tr.dark_row
								td
									= t('labels.strings.result')
								td
									= t('custom.modules.reports.result_in_items_count', :count => data_by_parts[:result][ticket_state_alias][:count])
								td
									= t("labels.currency.rub", :price => data_by_parts[:result][ticket_state_alias][:sold_at])
	- unless @results.nil?
		table.table.report_table
			thead
				tr
					th[colspan=3]
						a
							| Итого по всем мероприятиям
						span.arrow_toggler.unpacked
			tbody
				tr.dark_row
					td
						= t("labels.strings.price_for_item")
					td
						= t("labels.strings.the_number_of_tickets_sold")
					td
						= t("labels.strings.result_in_rub")
				- @results[:prices].each do | ticket_state_alias , data_by_prices |
					tr.dark_row.delimiter
						td[colspan=3]
							= t("custom.modules.ticket_states.#{ticket_state_alias}_state")
					- data_by_prices.each do | price , data |
						tr
							td
								= t("labels.currency.rub", :price => price)
							td
								= data[:count]
							td
								= data[:sold_at]
				- @results[:result].each do | ticket_state_alias , data |
					tr.dark_row.delimiter
						td
							=' t('labels.strings.result')
							= t("custom.modules.ticket_states.#{ticket_state_alias}_state")
						td
							= t('custom.modules.reports.result_in_items_count', :count => data[:count])
						td
							= t("labels.currency.rub", :price => data[:sold_at])