.g_row.schema_header
  .g_col_d_3
    .schema_hall_name
      = @event_item.hall.name
  .g_col_d_6.schema_event_name
    = @event_item.name
  .g_col_d_3.schema_date_name
    .event_info
      .date
        b
          = @event_item.date.strftime("%d")
        | &nbsp;
        = Rails.application.config.months[@event_item.date.strftime("%B")]
      .time
        b
          = @event_item.date.strftime("%H:%M")
      .delimiter
      .day
        = Rails.application.config.weekdays[@event_item.date.wday.to_i - 1]

.g_row style="margin-top: 15px; margin-bottom: 120px;"
  .g_col_d_12
    .cart_cnt
      .cart_panel
        .user
          = "Здравствуйте, #{@current_user.first_name}! В вашей корзине"
        .price_values data-price="0" data-count="0"
          span.count
            = @cart_info[0]
          | &nbsp;
          | билетов на сумму
          | &nbsp;
          span.total
            = @cart_info[1]
          | &nbsp;
          | руб.
        .btns
          = link_to "Личный кабинет", "#", id: "user_cabinet", class: "button"
          = link_to "Оформить заказ", confirm_order_path, id: "checkout", class: "button"
    .hall_schema data-event-id="#{@event_item.id}"
      .marking
        .scene
          .scene_img
            | Сцена
        .schema
          - @schema.each do |g_key, g_value|
              .header
                .label
                  = SeatGroup.find(g_key).name
              ul.rows
                - g_value.each do |r_key, r_value|
                  li.button
                    = "Ряд #{r_key}"
              ul.places
                - g_value.each do |r_key, r_value|
                  li.row data-row="r_key"
                    ul
                      - r_value.each do |value|
                        - if value.is_enabled
                          - ticket = Ticket.find_by(:seat_id => value.id, :event_item_id => @event_item.id)
                          - add_class = ""
                          - if !@order_ids.nil?
                            - if @order_ids.include?(ticket.id.to_s)
                              - add_class = "active"
                          li.seat data-seat-id="#{value.id}" data-group="#{value.seat_group.name}" data-range="#{value.range}" data-place="#{value.place}" data-ticket-id="#{ticket.id}" data-price="#{ticket.price}" data-state="#{ticket.ticket_state.alias}" class="#{add_class} weight_#{value.weight}" style="background-color: #{SeatType.find(value.seat_type_id).color}"
                            = value.place
                        - else
                          li.seat data-seat-id="#{value.id}" class="non_active weight_#{value.weight}"
      .legend
        .form_bg
          .bg
          - seat_types = []
          - Seat.select(:seat_type_id).group(:seat_type_id).each do |seat|
            - type = SeatType.find(seat.seat_type_id)
            - seat_types.push([type.price, type.color])
          - seat_types = seat_types.sort_by { |e| e[0] }
          - seat_types.each do |type|
            .element
              .block style="background-color: #{type[1]}"
              .text
                = "от #{type[0]} руб."
          .element
            .block style="background-color: #878775 !important;"
            .text
              | Недоступно