.g_row.schema_header
  .g_col_d_3
    .schema_hall_name
      = @event_item.hall.name
  .g_col_d_6.schema_event_name
    = @event_item.name
  .g_col_d_3.schema_date_name
    .event_info
      .date
        b
          = @event_item.date.strftime("%d")
        | &nbsp;
        = Rails.application.config.months[@event_item.date.strftime("%B")]
      .time
        b
          = @event_item.date.strftime("%H:%M")
      .delimiter
      .day
        = Rails.application.config.weekdays[@event_item.date.wday.to_i - 1]

.g_row style="margin-top: 15px; margin-bottom: 120px;"
  .g_col_d_12
    .cart_cnt
      .cart_panel
        .user
          = "В вашей корзине"
        .price_values data-price="0" data-count="0"
          span.count
          | &nbsp;
          | билетов на сумму
          | &nbsp;
          span.total
          | &nbsp;
          | руб.
        .btns
          = link_to "Оформить заказ", "#", id: "checkout", class: "button"
    .hall_schema data-event-id="#{@event_item.id}"
      - if (@event_item.hall.alias == "main_hall")
        = render "desktop/schemas/main_hall/main_hall"

      .legend
        .form_bg
          .bg
          - seat_types = []
          - SeatItem.where(:schema_item_id => @event_item.hall.schema_item.id).select(:seat_item_type_id).group(:seat_item_type_id).each do |seat|
            - type = SeatItemType.find(seat.seat_item_type_id)
            - seat_types.push([type.price, type.color])
          - seat_types = seat_types.sort_by { |e| e[0] }
          - seat_types.each do |type|
            .element
              .block style="background-color: #{type[1]}"
              .text
                = "от #{type[0]} руб."
          .element
            .block style="background-color: #878775 !important;"
            .text
              | Недоступно