.g_row
  .g_col_d_12
    .header
      | Список событий

    ul#events_list
      - @events.each do |event|
        li
          - if event.image.file?
            = image_tag event.image.url(:list), class: "blur"
          .event_info
            .date
              b
                = event.date.strftime("%d")
              | &nbsp;
              = Rails.application.config.months[event.date.strftime("%B")]
            .time
              = event.date.strftime("%H:%M")
            .place
              = event.hall.name
            .delimiter
            .day
              = Rails.application.config.weekdays[event.date.wday.to_i - 1]

            .event_name
              = event.name

          .event_price
            | от&nbsp;
            b
              | 200
            | &nbsp;руб.
          = link_to "/buy_ticket/#{event.id}"
            .button.average_button
              | купить билет