#event_card
  .g_row
    .g_col_d_8
      #event_img
        = image_tag @event_item.image.url(:card), class: "blur image custom_border"
    .g_col_d_4
      #event_additional
        .event_info
          .date
            b
              = @event_item.date.strftime("%d")
            | &nbsp;
            = Rails.application.config.months[@event_item.date.strftime("%B")]
          .time
            b
              = @event_item.date.strftime("%H:%M")
          .place
            = @event_item.hall.name
          .delimiter
          .day
            = Rails.application.config.weekdays[@event_item.date.wday.to_i - 1]


        .event_price
          | от&nbsp;
          b
            | 1500
          | &nbsp;руб.
        = link_to "/buy_ticket/#{@event_item.id}",  class: "buy_link"
          .button.big_button
            | купить билет

  .g_row
    .g_col_d_12.text_area#event_desc
      = @event_item.content.html_safe
