- ticket_color = SeatItemType.get_color_by_price(ticket.price)
- if !@advanced_mode
  - if !ticket.ticket_discount.nil?
    - discount_class = "discount_state"
  - if ticket.ticket_state.alias == TicketState.BOUGHT_ALIAS
    - state_class = "buy_state"
  - if ticket.ticket_state.alias == TicketState.BOOKED_ALIAS
    - state_class = "book_state"

  li.seat class="#{state_class} #{discount_class}" data-group="#{seat.sector_group.name}" data-seat-id="#{seat.id}" data-range="#{seat.row}" data-place="#{seat.number}" data-ticket-id="#{ticket.id}" data-price="#{Ticket.get_actual_price(ticket)}" data-discount="#{Ticket.get_discount_name(ticket)}" data-state="#{ticket.ticket_state.alias}" data-state-name="#{ticket.ticket_state.name}" style="background-color: #{ticket_color}"
    - if seat.special.nil?
      = seat.number
    - else
      = seat.special
- else
  - if (!ticket.payment.nil?)
    - if (!ticket.payment.user.nil?)
      - user_email = ticket.payment.user.email
      - user_id = ticket.payment.user.id
    - else
      - user_email = ""
      - user_id = ""
    - if (!ticket.payment.system_user_id.nil?)
      - system_user = SystemMainItemsD::SystemUser.find(ticket.payment.system_user_id)
      - system_user_login = system_user.login
      - system_user_id = system_user.id
    - else
      - system_user_login = ""
      - system_user_id = ""
    - ticket_number = "-"

  - discount_class = ""
  - state_class = ""
  - if !ticket.ticket_discount.nil?
    - discount_class = "discount_state"
  - if ticket.ticket_state.alias == TicketState.BOUGHT_ALIAS
    - state_class = "buy_state"
  - if ticket.ticket_state.alias == TicketState.BOOKED_ALIAS
    - state_class = "book_state"


  li.seat class="#{state_class} #{discount_class}" data-ticket-number="#{ticket_number}" data-payment-id=(!ticket.payment.nil? ? ticket.payment.id : "0") data-group="#{seat.sector_group.name}" data-seat-id="#{seat.id}" data-range="#{seat.row}" data-place="#{seat.number}" data-ticket-id="#{ticket.id}" data-price="#{Ticket.get_actual_price(ticket)}" data-discount="#{Ticket.get_discount_name(ticket)}" data-state="#{ticket.ticket_state.alias}" data-state-name="#{ticket.ticket_state.name}" data-payment-number=(!ticket.payment.nil? ? ticket.payment.number : "0") data-user-id="#{user_id}" data-user="#{user_email}" data-system-user="#{system_user_login}" data-system-user-id="#{system_user_id}" style="background-color: #{ticket_color}"
    - if seat.special.nil?
      = seat.number
    - else
      = seat.special