.g_row.schema_header
  .g_col_d_3
    .schema_hall_name
      | Название
  .g_col_d_6.schema_event_name
    | Название
  .g_col_d_3.schema_date_name
    .event_info
      .date
        b
          | 12:50
        | &nbsp;
        | Декабрь
      .time
        b
          | 12:51
      .delimiter
      .day
        | ПТ

.g_row style="margin-top: 15px; margin-bottom: 120px;"
  .g_col_d_12
    .cart_cnt
      .cart_panel
        .user
          | Здраствуйте, Алексей! В вашей корзине
        .price_values
          span.count
            | 0
          | &nbsp;
          | билетов на сумму
          | &nbsp;
          span.price
            | 0
          | &nbsp;
          | руб.
        .btns
          = link_to "Личный кабинет", "#", id: "user_cabinet", class: "button"
          = link_to "Оформить заказ", "#", id: "checkout", class: "button"
    .hall_schema
      = render "filarmonia"

      .legend
        .form_bg
          .bg