.popup_cnt#book_popup
  .bg
  .section
    .form_bg
      .container
        .title
          | Состав заказа
        .description
          | Для бронирования билетов введите персональные данные
        = form_tag("#", method: "post", id: 'book_tickets_form') do
          .fields
            .field
              label for="fio"
                | Имя/Фамилия:
              = text_field_tag 'fio'
            .field
              label for="phone"
                | Номер телефона:
              = text_field_tag 'phone'

            .btns
              .btn.blue_btn#book
                | Забронировать
              .btn.grey_btn#close
                | Закрыть