.sub_block_event
  .label
    = @event_item.name
  .date
    = @event_item.date.strftime("%d.%m.%Y %H:%M")
.sub_block
  .event_schema.advanced_schema
    .hall_schema data-event-id="#{@event_item.id}"
      - if (@event_item.hall.alias == "main_hall")
        = render "desktop/schemas/main_hall/main_hall"
      - if (@event_item.hall.alias == "main_hall_with_seats")
        = render "desktop/schemas/main_hall_with_seats/main_hall_with_seats"
      - if (@event_item.hall.alias == "theatr_hall")
        = render "desktop/schemas/theatr_hall/theatr_hall"

      .legend
        .form_bg.small_form
          .label
            | Очистить отметки
          .btn.grey_btn#clear_checked_tickets
            | Очистить

        .form_bg.small_form#buy_ticket
          .btn.blue_btn
            | Продать

        .form_bg.small_form#book_ticket
          .btn.blue_btn
            | Забронировать

        .form_bg.small_form#change_price
          .label
            | Настройка цены на билет
          = form_tag("/admin/ajax_change_ticket_prices", method: "post") do
            = text_field_tag "price"
            = submit_tag "Применить", class: "btn blue_btn"
        .form_bg.small_form#change_discount
          .label
            | Настройка скидок
          = form_tag("/admin/ajax_change_ticket_discounts", method: "post") do
            - discounts = TicketDiscount.where(:event_item_id => @event_item.id).where("date >= now()").collect { |u| [u.name, u.id] }
            - discounts.unshift(["Нет", 0])
            = select_tag 'ticket_states', options_for_select(discounts)
            = submit_tag "Применить", class: "btn blue_btn"
        #legend_nav_panel
          | Легенда
          .icon.icon-arrow-down
        .form_bg#legend
          .bg
          .element
            .block style="background-color: #878775 !important;"
            .text
              | Куплено
          .element
            .block style="background-color: white !important; border: 1px solid grey !important;"
            .text
              | Забронировано
          .element
            .block style="background-color: green !important; border: 1px solid red !important;"
            .text
              | Место со скидкой
          - seat_types = []
          - SeatItem.where(:schema_item_id => @event_item.hall.schema_item.id).select(:seat_item_type_id).group(:seat_item_type_id).each do |seat|
            - type = SeatItemType.find(seat.seat_item_type_id)
            - seat_types.push([type.price, type.color])
          - seat_types = seat_types.sort_by { |e| e[0] }
          - seat_types.each do |type|
            .element
              .block style="background-color: #{type[1]}"
              .text
                = "от #{type[0]} руб."

= render "admin/advanced_schemas/book_popup"