/*
 *= require normalize-rails
 */

$bg_color_1: #ac2375;
$bg_color_2: #1d113a;
$bg_color_3: #2f2f2f;
$bg_color_4: #441e75;
$bg_color_5: #7a2d97;
$bg_color_6: #980d60;
$bg_color_7: #ed7f1e;
$bg_color_8: #881cad;
$bg_color_9: #ad2275;
$bg_color_10: #731390;
$bg_color_11: #f9f9e1;
$bg_color_12: #878775;
$text_color: #ffffff;
$text_color_1: #ed7f1e;
$text_color_2: #b021dc;
$text_color_3: #d4d2d2;
$text_color_4: #404040;
$attention_color: #ed7f1e;
$border_color: #861dad;
$border_color_2: #9437a7;
$border_color_3: #2a0f4c;
$border_color_4: #1d103e;
$border_color_5: #ffffff;
$border_color_6: #404040;
$border_color_7: #ed7f1e;
$input_background_color: #2b2a28;
$shadow_color: #000000;

@import "visual_interfaces_d/blue_interface/core";
@import "halls/admin/default";
