.kassir_popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
  }
  .section {
    width: 100%;
    position: relative;
    top: 50px;
  }
  #kc_plugin {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    display: block;
  }
}