#filarmonia
  .marking
    .scene
      .scene_img
        .bg
        | Сцена
    .schema

      // Партер
      - items = @parter.seat_items.group_by { |item| item.row }
      .group
        .header
          .label
            = @parter.name
        ul.lines
          - items.each do |item|
            li
        ul.rows
          - items.each do |item|
            li.button
              = "Ряд #{item[0]}"
        ul.places
          - items.each do |item|
            li.row
              ul
                - item[1].each do |seat|
                  - ticket = Ticket.find_by(:seat_item_id => seat.id, :event_item_id => @event_item.id)
                  = render "desktop/schemas/place", seat: seat, ticket: ticket

      // Амфитеатр
      - items = @amfiteatr.seat_items.group_by { |item| item.row }
      .group
        .header
          .label
            = @amfiteatr.name

        - vip_items = @vip1.seat_items.group_by { |item| item.row }
        .sub_group.aksion_vip_1
          .header
            .label
              = @vip1.name
          ul.places
            - vip_items.each do |item|
              li.row
                ul
                  - item[1].each do |seat|
                    - ticket = Ticket.find_by(:seat_item_id => seat.id, :event_item_id => @event_item.id)
                    = render "desktop/schemas/place", seat: seat, ticket: ticket


        - vip_items = @vip2.seat_items.group_by { |item| item.row }
        .sub_group.aksion_vip_2
          .header
            .label
              = @vip2.name
          ul.places
            - vip_items.each do |item|
              li.row
                ul
                  - item[1].each do |seat|
                    - ticket = Ticket.find_by(:seat_item_id => seat.id, :event_item_id => @event_item.id)
                    = render "desktop/schemas/place", seat: seat, ticket: ticket

        ul.lines
          - items.each do |item|
            li
        ul.rows
          - items.each do |item|
            li.button
              = "Ряд #{item[0]}"
        ul.places

          - items.each do |item|
            li.row
              ul
                - item[1].each do |seat|
                  - ticket = Ticket.find_by(:seat_item_id => seat.id, :event_item_id => @event_item.id)
                  = render "desktop/schemas/place", seat: seat, ticket: ticket
                  - if (seat.row == "12") && (seat.number == "15")
                    - i = 0
                    - while (i < 5)
                      li.seat.non_active
                        - if i == 0
                          .aksion_pult_panel
                            .bg
                            | Пульт
                      - i = i + 1
                  - if (seat.row == "13") && (seat.number == "15")
                    - i = 0
                    - while (i < 5)
                      li.seat.non_active
                      - i = i + 1

      // Балкон
      - items = @balkon.seat_items.group_by { |item| item.row }
      .group
        .header
          .label
            = @balkon.name
        ul.lines
          - items.each do |item|
            li
        ul.rows
          - items.each do |item|
            li.button
              = "Ряд #{item[0]}"
        ul.places
          - items.each do |item|
            li.row
              ul
                - item[1].each do |seat|
                  - ticket = Ticket.find_by(:seat_item_id => seat.id, :event_item_id => @event_item.id)
                  = render "desktop/schemas/place", seat: seat, ticket: ticket
                  - if (seat.row == "29") && (seat.number == "42")
                    li.seat.non_active